<div style="font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:1.6; color:#222; max-width: 600px;">
  <h1>Bem vindo, <strong>{{ user.firstname }}!</strong></h1>

  <p>Lorem Ipsum</p>

  <p>
    Aenean convallis, erat at mollis euismod, risus erat tempor nibh, vitae molestie ipsum felis commodo risus. Etiam
    eget elit suscipit dui ultrices lacinia id ut dolor. In placerat porttitor mi vel aliquet.
  </p>

  {{> footer }}
</div>